/* Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.body {
	color: #2F2E33;
}
.section-heading {
	font-family: 'Raleway';
}
.section {
	padding-top: 1em;
	padding-bottom: 1em;
}
hr {
	margin:0;
}
.text-center {
	text-align: center;
}
a {
    color: #3a5199;
}
/* Topbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.topbar {
	background-color: #2f2e33;
	color: #f1f1f1;
	padding-top: 1.5em;
}

.logo {
	height: 50px;
	line-height: 50px;
}
#roll {
	border-radius:50%;
	width: 63px;
	height: 55px;
	cursor:pointer;
	float:right;
}
.roll-cont:hover .clickme {
	color: #33c3f0;
}
.clickme {
	font-weight: bolder;
	margin-right: 10px;
	padding-top: 20px;
	float:right;
	color:#2f2e33;
	font-family: 'Raleway';
}
@media screen and (max-width:798px) {
	#roll, .clickme {
		display:none;
	}
}
/* Profile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.profile {
	background-color: #3a5199;
	color:#f1f1f1;
}
@media screen and (max-width:798px) {
	.profile {
		text-align: center;
	}
}
.cat-hint {
	display: none;
	font-size: 11px;
	    padding-top: 5px;
}
.profile:hover .cat-hint {
	display: block;
}
.profile img {
	width:200px;
	border-radius:50%;
}
.image-slider {
	position:relative;
	display: inline-block;
	line-height: 0;
}
.image-slider img {
	user-select: none;
	max-width: 150px;
}
.image-slider > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 13px;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}
.image-slider > div:before {
	content: '';
	display: block;
	width: 13px; 
	height: 13px;
	overflow: hidden;
	position: absolute;
	resize: horizontal;
	right: 3px; bottom: 3px;
	background-clip: content-box;
	    background: linear-gradient(-45deg,#e1e1e1 50%,transparent 0);
    filter: drop-shadow(0 0 2px white);
}

.profile .button {
	margin: 0 0 0 20px;
    padding: 0 20px;
}


/* Portfolio
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.portfolio {
	background-color: #f1f1f1;
	    padding-top: 2em;
}
.portfolio h5 {
	color: #3a5199;
}
.projects {
	border-right:1px solid #2f2e33;
	padding-right: 20px;
}
@media screen and (max-width:844px) {
	.projects {
		border:none;
	}
}
.project-row {
	margin-bottom:4em;
}
.project-img {
	    padding-top: 6em;
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.animated { 
	-webkit-animation-duration: 1s; 
	animation-duration: 1s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
} 
@keyframes flip { 
	0% { 
		transform: perspective(400px) rotateY(0); 
		animation-timing-function: ease-out; 
	} 
	40% { 
		transform: perspective(400px) translateZ(150px) rotateY(170deg); 
		animation-timing-function: ease-out; 
	} 
	50% { 
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
		animation-timing-function: ease-in; 
	} 
	80% { 
		transform: perspective(400px) rotateY(360deg) scale(.95); 
		animation-timing-function: ease-in; 
	} 
	100% { 
		transform: perspective(400px) scale(1); 
		animation-timing-function: ease-in; 
	} 
} 
.flip { 
	-webkit-backface-visibility: visible !important; 
	-webkit-animation-name: flip; 
	backface-visibility: visible !important; 
	animation-name: flip; 
}

@-webkit-keyframes bounceInDown { 
	0% { 
		opacity: 0; 
		-webkit-transform: translateY(-2000px); 
	} 
	60% { 
		opacity: 1; 
		-webkit-transform: translateY(30px); 
	} 
	80% { 
		-webkit-transform: translateY(-10px); 
	} 
	100% { 
		-webkit-transform: translateY(0); 
	} 
} 

@keyframes bounceInDown { 
	0% { 
		opacity: 0; 
		transform: translateY(-2000px); 
	} 
	60% { 
		opacity: 1; 
		transform: translateY(30px); 
	} 
	80% { 
		transform: translateY(-10px); 
	} 
	100% { 
		transform: translateY(0); 
	} 
} 

.bounceInDown { 
	-webkit-animation-name: bounceInDown; 
	animation-name: bounceInDown; 
}


.social {
	float:right;
}
.social h2 {
	margin-top:7px;
	float:right;
}
.social a{
	text-decoration: none;
}